<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="startupOptions" class="com.rodionbykov.calendar.StartupOptions" />

    <bean id="calendar" class="com.rodionbykov.calendar.Calendar" />

    <bean id="eventFileVisitor" class="com.rodionbykov.calendar.storage.EventFileVisitor" />

    <bean id="calendarService" class="com.rodionbykov.calendar.CalendarService">
            <constructor-arg type="com.rodionbykov.calendar.Calendar" ref="calendar" />
            <constructor-arg type="com.rodionbykov.calendar.storage.EventFileVisitor" ref="eventFileVisitor" />
    </bean>

</beans>